/* Barton Phillips CSS */
/* This file is used by bartonphillips.com and by bartonlp.com */

/* This is a 'Reset' css */

@import 'normalize.css';

/*
:root
If you have another css file with the same var but different values that will take precidence 
(just like everything else)
*/
:root {
  --blpBodyBgColor:  hsla(144, 100%, 95%, 0.6); /*#e6fff0;*/
  --blpHitcntrBgColor: #F5DEB3;
  --blpHitcntrBorder: 8px ridge yellow;
  --blpHitcntrColor: rgb(123, 16, 66);
  --blpFontSize: calc(16px + .3vw);
}

@font-face {
  font-family: 'FontFace';
  src: url(../fonts/ibm-plex-otf/IBMPlexSans-Regular.otf);
  /*url(https://bartonphillips.net/fonts/ibm-plex-otf/IBMPlexSans-Regular.otf);*/
}
* {
  box-sizing: border-box;
}
/* Get RID of the blue border around the following */
/* If you really want it add it in your css! */
input:focus, button:focus, a:focus, textarea:focus {
  outline: none;
}
html {
  margin: auto;
  font-size: var(--blpFontSize);
}
body {
  background-color: var(--blpBodyBgColor); /*#e6fff0;*/
  font-family: 'FontFace'; 
  padding: .5rem;
}
header {
  text-align: center;
}      
footer {
  text-align: center;
}
.center {
  text-align: center;
}
ul {
  line-height: 150%;
}
/*
  The #hitCounter... are for the SiteClass::getCounterWigget() which can be at the bottom of the page.
  #F5DEB3==rgb(245,222,179) is 'wheat' for the background
  rgb(123, 16, 66) is a burgundy for the number
*/  
#hitCounter {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
#hitCountertbl {
  font-size: 1em;
  width: 0;
  border: var(--blpHitcntrBorder); /*8px ridge yellow;*/
  margin-left: auto;
  margin-right: auto;
  background-color: var(--blpHitcntrBgColor);
}
#hitCountertr {
  width: 0;
  border: var(--blpHitcntrBorder);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--blpHitcntrBgColor) 
}
#hitCounterth {
  color: var(--blpHitcntrColor);
}
/* for BIG screens */
@media (min-width: 1800px) {
  html {
    font-size: calc(24px + .4vw);
  }
}