/* Barton Phillips CSS */
/* This is for all IE CRAP */

@font-face {
  font-family: 'FontFace';
  src: url("../fonts/ibm-plex-otf/IBMPlexSans-Regular.otf");
  /*url(https://bartonphillips.net/fonts/ibm-plex-otf/IBMPlexSans-Regular.otf);*/
}
* {
  box-sizing: border-box;
}
/* Get RID of the blue border around the following */
/* If you really want it add it in your css! */
input:focus, button:focus, a:focus, textarea:focus {
  outline: none;
}
html {
  margin: auto;
  font-size: 16px;
}
body {
  background-color: #e6fff0;*/
  font-family: 'FontFace'; 
  padding: .5rem;
}
header {
  text-align: center;
}      
footer {
  text-align: center;
}
.center {
  text-align: center;
}
ul {
  line-height: 150%;
}
/*
  The #hitCounter... are for the SiteClass::getCounterWigget() which can be at the bottom of the page.
  #F5DEB3==rgb(245,222,179) is 'wheat' for the background
  rgb(123, 16, 66) is a burgundy for the number
*/  
#hitCounter {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
#hitCountertbl {
  font-size: 1em;
  width: 0;
  border: 8px ridge yellow;*/
  margin-left: auto;
  margin-right: auto;
  background-color: #F5DEB3;
}
#hitCountertr {
  width: 0;
  border: 8px ridge yellow;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5DEB3'
}
#hitCounterth {
  color: #7b1042;
}
/* for BIG screens */
@media (min-width: 1800px) {
  html {
    font-size: 24px;
  }
}