Options -Indexes

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Expose-Headers: Content-Length

<RequireAll>
 Require all granted
 Require not ip 193.42.33.5
</RequireAll>

SetEnv SITELOADNAME /var/www/vendor/bartonlp/site-class/includes/siteload.php
setEnv SITECLASS_DIR /var/www/vendor/bartonlp/site-class/includes

SetEnv session.use_cookies '0'

Header unset Pragma
FileETag None
Header unset ETag

# BEGIN EXPIRES
ExpiresActive On
ExpiresDefault "access plus 10 days"
ExpiresByType text/html A0
ExpiresByType text/plain A0
ExpiresByType application/x-javascript A0
ExpiresByType application/javascript A0 
ExpiresByType text/css "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType application/x-icon "access plus 1 year"
# END EXPIRES

# BEGIN NO Cookies for static items
<FilesMatch "\.(js|css|jpg|png|jpeg|gif|xml|json|txt|pdf|mov|avi|otf|woff|ico|swf)$">
 	RequestHeader unset Cookie
 	Header unset Cookie
 	Header unset Set-Cookie
</FilesMatch>
# END NO Cookies

AddType application/x-javascript .js
AddType text/css .css
AddType text/xml .xml
AddType text/cache-manifest .manifest
AddType application/x-font-woff .woff
AddType application/x-font-ttf .ttf

AddDefaultCharset UTF-8

RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} "baiduspider" [NC]
RewriteRule (.*) - [F,L]


# BLP 2014-09-14 -- track robots that look at robots.txt
RewriteRule ^robots\.txt$ robots.php [L,NC]
RewriteRule ^Sitemap\.xml$ sitemap.php [L,NC]

# rewrite the address of csstest.css to tracker.php?csstest
#RewriteRule ^csstest-(.*)\.css$ tracker.php?id=$1&page=csstest [L,QSA]

RewriteRule ^(aboutwebsite\.php|webstats\.php|webstats-ajax\.php|geoAjax\.php|getcookie\.php|robots\.php|sitemap\.php|js/webstats\.js|js/tracker\.js)(.*)$ https://bartonlp.com/otherpages/$1$2 [L]

RewriteRule ^(\.git|other)/.*$ - [F,L]
RewriteRule ^(\.gitignore|mysitemap\.json)$  - [F,L]

# Do compression of the followin types

AddOutputFilterByType DEFLATE \
  "application/atom+xml" \
  "application/javascript" \
  "application/x-javascript" \
  "application/json" \
  "application/ld+json" \
  "application/manifest+json" \
  "application/rdf+xml" \
  "application/rss+xml" \
  "application/schema+json" \
  "application/vnd.geo+json" \
  "application/vnd.ms-fontobject" \
  "application/x-font-ttf" \
  "application/x-font-woff" \
  "application/x-web-app-manifest+json" \
  "application/xhtml+xml" \
  "application/xml" \
  "font/opentype" \
  "image/svg+xml" \
  "image/x-icon" \
  "text/cache-manifest" \
  "text/css" \
  "text/html" \
  "text/javascript" \
  "text/plain" \
  "text/vtt" \
  "text/x-component" \
  "text/xml"
